<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

    <aside class="flex flex-col pt-0 ">
        <div class="flex">
            <a href="/" class="pl-4 font-medium text-3xl py-2">Vaisselle</a>
        </div>
        <div class="h-4"></div>


        <ul class="menu flex-1 w-72 p-2 flex flex-col justify-between">

            <li>
                <details>
                    <summary>user</summary>
                    <ul class="p-2">
                        <li><a href="/admin/users">users</a></li>
                        <li><a href="/admin/users/create">create</a></li>
                    </ul>
                </details>

                <details open>
                    <summary>models</summary>
                    <ul class="p-2">
                        <li><a href="/admin/models">models</a></li>
                        <li><a href="/admin/models/create">create</a></li>
                    </ul>
                </details>

                <details open>
                    <summary>test</summary>
                    <ul class="p-2">
                        <li><a href="/admin/session">session</a></li>
                    </ul>
                </details>
            </li>
            <li class="mt-4 border-t pt-2">
                <a href="/client" class="font-bold">client</a>
            </li>

        </ul>

    </aside>

</body>

</html>