<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

    <aside class="pt-2">
        <div class="flex-1">
            <a href="/" class="pl-4 font-medium text-3xl py-2">Vaisselle</a>
        </div>
        <div class="h-4"></div>
        <ul class="menu w-76 p-2">

            <li>
                <details open>
                    <summary>menu</summary>
                    <ul class="p-2">
                        <li><a href="/users">users</a></li>
                        <li>
                            <a class="menu-title">users</a>
                            <ul>
                                <li>
                                    <a>list_2_1</a>
                                </li>
                                <li>
                                    <a>list_2_2</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </details>

                <ul class="p-2">
                    <li><a href="/session">session</a></li>
                </ul>
            </li>

        </ul>
    </aside>

</body>

</html>