<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

    <aside class="flex flex-col pt-0 ">
        <div class="flex">
            <a href="/" class="pl-4 font-medium text-3xl py-2">Vaisselle</a>
        </div>
        <div class="h-4"></div>

        <div th:if="${uri.startsWith('/admin')}" class="flex flex-col flex-1">
            <div th:replace="~{layout/aside-admin :: ul}"></div>
        </div>

        <div th:if="${uri.startsWith('/client')}" class="flex flex-col flex-1">
            <div th:replace="~{layout/aside-client :: ul}"></div>
        </div>

    </aside>

</body>

</html>