<!DOCTYPE html>
<html layout:decorate="~{admin/layout/layout}">

<head>
    <title>Create Product</title>
</head>

<body>

    <div class="max-w-xl w-full">

        <h1 class="text-2xl font-bold mb-6" th:text="${editProduct != null ? 'Edit Product' : 'Create Product'}">Create
            Product</h1>

        <form th:action="${editProduct != null ? '/admin/products/update' : '/admin/products'}" method="post"
            enctype="multipart/form-data" class="space-y-4">

            <input type="hidden" name="id" th:if="${editProduct != null}" th:value="${editProduct.id}">
            <input type="hidden" name="redirectUrl" th:if="${redirectUrl != null}" th:value="${redirectUrl}">

            <div class="form-control">
                <label class="label">
                    <span class="label-text">Product Name</span>
                </label>
                <input type="text" name="name" placeholder="Name" class="input input-bordered w-full"
                    th:value="${editProduct != null ? editProduct.name : ''}" required />
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">Product Description</span>
                </label>
                <textarea type="text" name="description" placeholder="Description"
                    class="textarea input-bordered w-full"
                    th:text="${editProduct != null ? editProduct.description : ''}" required> </textarea>
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">Product Price</span>
                </label>
                <input type="text" name="location" placeholder="Name" class="input input-bordered w-full"
                    th:value="${editProduct != null ? editProduct.location : ''}" required />
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">Model</span>
                </label>
                <div class="p-0 overflow-y-auto">
                    <select name="model" class="select select-bordered w-full" required>
                        <option disabled th:selected="${editProduct == null}" value="">Select a model</option>
                        <option th:each="m : ${models}" th:value="${m.id}" th:text="${m.name}"
                            th:selected="${(editProduct != null && editProduct.model != null && editProduct.model.id == m.id) || (selectedModel != null && selectedModel.id == m.id)}">
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">Size</span>
                </label>
                <div class="p-0 overflow-y-auto">
                    <select name="size" class="select select-bordered w-full" required>
                        <option disabled th:selected="${editProduct == null}" value="">Select a size</option>
                        <option th:each="size : ${sizes}" th:value="${size.id}" th:text="${size.name}"
                            th:selected="${(editProduct != null && editProduct.size != null && editProduct.size.id == size.id)}">
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">Color</span>
                </label>
                <div class="p-0 overflow-y-auto">
                    <select name="color" class="select select-bordered w-full" required>
                        <option disabled th:selected="${editProduct == null}" value="">Select a color</option>
                        <option th:each="color : ${colors}" th:value="${color.id}" th:text="${color.name}"
                            th:selected="${(editProduct != null && editProduct.model != null && editProduct.model.id == color.id)}">
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">Product nb min discount</span>
                </label>
                <input type="number" name="nbDiscount" placeholder="Name" class="input input-bordered w-full"
                    th:value="${editProduct != null ? editProduct.nbDiscount : ''}" required />
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">Product discount</span>
                </label>
                <input type="number" name="discount" placeholder="Name" class="input input-bordered w-full"
                    th:value="${editProduct != null ? editProduct.discount : ''}" required />
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">Image</span>
                </label>
                <div class="p-0 overflow-y-auto">
                    <input name="imageFile" type="file" class="file-input w-full" />
                </div>
            </div>

            <div class="form-control flex flex-row-reverse mt-6 gap-2">
                <button type="submit" class="btn btn-primary"
                    th:text="${editProduct != null ? 'Update product' : 'Create product'}">Create product</button>
                <a href="/admin/products" class="btn btn-ghost">Cancel</a>
            </div>

        </form>

    </div>

    </div>

</body>

</html>