<!DOCTYPE html>
<html layout:decorate="~{client/layout/layout}">

<head>
    <title>Command</title>
</head>

<body>

    <div layout:fragment="content" class="flex gap-8 max-h-full overflow-hidden">

        <div class="flex flex-col flex-1 max-h-full overflow-auto overflow-y-auto gap-6">

            <div class="flex justify-between items-center">
                <h1 class="text-xl font-[figtree-m]">Command</h1>
            </div>

            <div class="overflow-x-auto bg-base-100 rounded-box shadow-md border border-neutral-100 pb-4">
                <table class="table w-full">
                    <!-- head -->
                    <thead>
                        <tr class="font-[figtree-m] uppercase text-xs opacity-60">
                            <th>Produits</th>
                            <th>couleur</th>
                            <th>Prix</th>
                            <th>Qtt</th>
                            <th>remise</th>
                            <th>livraison</th>
                            <th>total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- row 1 -->
                        <tr th:each="cartDetail : ${cart.details}" class="hover:bg-neutral-50 transition-colors">
                            <td>
                                <div class="flex" th:text="${cartDetail.product.name + ' Ar '}"></div>
                            </td>
                            <td>
                                <div class="flex" th:text="${cartDetail.product.color.name }"></div>
                            </td>
                            <td>
                                <div class="flex" th:text="${cartDetail.product.price + ' Ar'}"></div>
                            </td>
                            <td class="font-[figtree]">
                                <div class="flex" th:text="${cartDetail.qtt}"></div>
                            </td>
                            <td class="font-[figtree]">

                                <div class="flex" th:if="${cartDetail.qtt >= cartDetail.product.nbDiscount}"
                                    th:text="${cartDetail.product.discount + '%'}"></div>
                                <div class="flex" th:if="${!(cartDetail.qtt >= cartDetail.product.nbDiscount)}"
                                    th:text="${'0%'}"></div>
                            </td>
                            <td class="font-[figtree]">

                                <form action="/client/cart/area" method="post" class="flex items-center space-y-4">

                                    <input type="hidden" name="idCartDetail" th:value="${cartDetail.id}">

                                    <div class="flex m-0">

                                        <select name="idArea" class="select select-bordered w-full select-sm" required>
                                            <option disabled selected>Select a lieux</option>
                                            <option th:each="area : ${areas}" th:value="${area.id}"
                                                th:text="${area.name + ' - ' + area.cost}"
                                                th:selected="${cartDetail.area != null && cartDetail.area.id == area.id}">
                                            </option>

                                            </option>
                                        </select>

                                    </div>

                                    <div class=" flex flex-row-reverse gap-2 pl-2">
                                        <button type="submit" class="btn btn-neutral btn-sm">modifier</button>
                                    </div>

                                </form>

                            </td>
                            <td class="font-[figtree]">
                                <div class="flex" th:text="${cartDetail.total + ' Ar'}"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="flex justify-between">
                <div class="flex"></div>


                <div class="flex flex-col gap-2 px-4 w-108 py-4 bg-white 
                    rounded-box shadow-md border border-neutral-100">

                    <div class="flex w-full items-end justify-between">
                        <div class="flex text-sm text-neutral-500">
                            total products:
                        </div>
                        <div class="text-xl font-[figtree-sb] text-neutral-700" th:text="${cart.totalProducts + ' Ar'}">
                        </div>
                    </div>

                    <div class="flex w-full items-end justify-between">
                        <div class="flex text-sm text-neutral-500">
                            total livraisons:
                        </div>
                        <div class="text-xl font-[figtree-sb] text-neutral-700"
                            th:text="${cart.totalDeliveries + ' Ar'}">
                        </div>
                    </div>

                    <div class="flex w-full items-end justify-between">
                        <div class="flex text-sm text-neutral-500">
                            total:
                        </div>
                        <div class="text-xl font-[figtree-sb] text-neutral-700" th:text="${cart.totalCost + ' Ar'}">
                        </div>
                    </div>

                    <div class="flex w-full items-end justify-between mt-2">
                        <div class="flex text-sm text-neutral-500">

                        </div>
                        <div class="flex items-center">
                            <form action="/client/order" method="post">
                                    <input type="hidden" name="idCart" th:value="${cart.id}">
                                <button type="submit" class="btn btn-sm btn-primary">valider</button>
                            </form>
                        </div>
                    </div>

                </div>


            </div>

            <div class="flex"></div>

        </div>

    </div>

</body>

</html>