<!DOCTYPE html>
<html layout:decorate="~{client/layout/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${product.name}">Details</title>
</head>

<body>

    <div layout:fragment="content" class="w-full h-full px-8 py-4 overflow-y-auto">

        <div class="flex flex-col gap-8 max-w-4xl mx-auto">
            <!-- Model Header -->
            <div class="flex flex-col gap-2">
                <h1 class="text-3xl font-bold text-neutral-800" th:text="${product.name}">Model Name</h1>
                <div class="flex items-center gap-2">
                    <span class="badge badge-primary badge-outline"
                        th:text="${product.model.category.name}">Category</span>
                    <span class="badge badge-neutral" th:text="${product.model.type.name}">Type</span>
                </div>
                <p class="text-neutral-600 mt-2" th:text="${product.model.description}">Model Description</p>
            </div>

            <!-- Products List -->
            <div class="flex flex-col gap-4">
                <h2 class="text-xl font-semibold text-neutral-700"></h2>

                <div class="flex flex-col gap-6">
                    <div th:each="variant : ${product.variantsStatic}"
                        class="flex h-48 items-center justify-between rounded-3xl bg-base-100 shadow-sm border border-neutral-200 p-4">

                        <div class="flex items-center justify-center">
                            <img th:if="${variant.image != null && variant.image != ''}" th:src="@{${variant.image}}"
                                class="rounded-3xl w-36 h-full" alt="variant Image">
                            <img th:unless="${variant.image != null && variant.image != ''}"
                                th:src="@{/uploads/test/fourchette.jpg}" class="rounded-3xl w-36 h-full"
                                alt="Default Image">
                        </div>

                        <div
                            class="flex-1 h-full pl-4 pr-2 w-full flex justify-between flex-col gap-1 text-sm text-neutral-600">

                            <div class="flex justify-between">
                                <div class="flex gap-8">
                                    <div th:if="${variant.size != null}" class="flex items-center gap-2">
                                        <span class="font-sm">Size: </span>
                                        <span class="badge badge-ghost badge-md"
                                            th:text="${variant.size.name}">Size</span>
                                    </div>

                                    <div th:if="${variant.color != null}" class="flex items-center gap-2">
                                        <span class="font-sm">Colors:</span>
                                        <span class="badge badge-ghost badge-md"
                                            th:text="${variant.color.name}">Color</span>
                                    </div>
                                </div>

                                <div class="flex py-2 items-center justify-between gap-4">
                                    <div class="text-xl font-[figtree-b]" th:text="${variant.price + ' Ar'}">
                                    </div>
                                    <div class="text-sm text-neutral-400 font-[figtree-b]"
                                        th:if="${variant.augmentation > 0}"
                                        th:text="${'+' + variant.augmentation + '%'}">
                                    </div>
                                </div>
                            </div>

                            <form action="/client/cart" method="post">


                                <input name="idProduct" type="hidden" th:value="${variant.id}">
                                <div class="flex py-2 items-center justify-between">
                                    <div class="flex">
                                        <div class="flex">Stock: </div>
                                        <div class="flex" th:text="${variant.stock}"></div>
                                    </div>
                                    <div class="flex flex-col w-1/2">
                                        <label for="" class="pb-0 text-neutral-500">Quantity</label>
                                        <input name="qtt" type="number"
                                            class="w-full border-neutral-200 input h-8 outline-none">
                                    </div>
                                </div>

                                <button
                                    class="cursor-pointer hover:text-neutral-50 hover:bg-neutral-800 w-full font-[figtree] 
                            text-sm text-neutral-900 border-1 border-neutral-200 rounded-full py-1.5 px-8 transition-all">Add
                                    to Command</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>

</html>