<!DOCTYPE html>
<html layout:decorate="~{layout/layout}">

<head>
    <title>Users</title>
</head>

<body>

    <div layout:fragment="content" class="flex w-full p-2 gap-4">

        <div th:replace="~{client/products/filter :: filter}"></div>

        <div class="flex flex-wrap gap-8">

            <div th:each="model : ${models}" class="card card-sm card-side bg-base-100 w-86 shadow-sm">
                <figure>

                    <img th:if="${model.modelUrl != null && model.modelUrl != ''}" th:src="@{${model.modelUrl}}"
                        class="w-32 h-42" alt="Movie">

                    <img th:unless="${model.modelUrl != null && model.modelUrl != ''}"
                        th:src="@{/uploads/test/fourchette.jpg}" class="w-32 h-42" alt="Movie">

                </figure>

                <div class="card-body w-42">

                    <h2 th:text="${model.modelName}" class="card-title"></h2>

                    <p>...</p>

                    <div class="card-actions justify-end">
                        <a th:href="@{/client/products/{id}(id=${model.modelId})}">
                            <button class="btn btn-xs btn-primary">Watch</button>
                        </a>
                    </div>

                </div>
            </div>

        </div>


    </div>

</body>

</html>