@font-face {
  font-family: "figtree";
  src: url("../font/Figtree-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "figtree-b";
  src: url("../font/Figtree-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "figtree-m";
  src: url("../font/Figtree-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "figtree-sb";
  src: url("../font/Figtree-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "figtree-bl";
  src: url("../font/Figtree-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "figtree-i";
  src: url("../font/Figtree-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
