@font-face {
  font-family: "biotif";
  src: url("../font/Biotif-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "biotif-b";
  src: url("../font/Biotif-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "biotif-m";
  src: url("../font/Biotif-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "biotif-sb";
  src: url("../font/Biotif-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "biotif-ex";
  src: url("../font/Biotif-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "biotif-l";
  src: url("../font/Biotif-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
