body {
    /* background-image: url('/img/bg.png');
    background-repeat: repeat;
    background-size: auto; */

    font-family: 'figtree', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
